<div class="container">
    <div class="row">
        <div class="col-sm-4 mb-4" *ngFor="let post of postArray">
            <div class="card">
                <div class="card-header">
                   <h3>
                    {{post.title}}
                   </h3>
                </div>
                <div class="card-body ">
                   <p class="m-0">
                    {{post.body}}
                   </p>
                </div>
                <div class="card-footer">
                    <strong>
                         UserId : {{post.userId}}
                        id : {{post.id}}
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>


