
<h1 class="bg-secondary text-white text-center">basic</h1>
<div class="container mt-4">
    <div class="row">
       <div class="col-sm-12">
        <!-- <button class="btn btn-danger">click</button> -->
        <div class="col-sm-12">
            <app-tab></app-tab>
        </div>
        <hr>
        <!-- <app-product></app-product> -->
        <app-products></app-products>
        <app-cards></app-cards>
        <hr>
        <!-- <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of skills">
                I love{{skill}}
            </li>
        </ul> -->
       </div>
       <hr>
         <div class="col-sm-12">
            <app-students></app-students>
            <app-skillsets></app-skillsets>
         </div>
    </div>
</div>
